<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boyhotkey96.funnystories">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--Login facebook Start-->
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <!--Mo App Facebook len de login-->
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <!--Neu Mobile khong co app facebook thi no xe mo chrome len de login-->
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <!--Login facebook End-->

        <activity android:name=".VersionScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserManager.Signup"></activity>
        <activity android:name=".UserManager.Login"></activity>
        <activity android:name=".Fragment.Navigation"></activity>
        <activity android:name=".UserManager.ForgotPassword"></activity>
        <activity android:name=".Fragment.DanhSachTruyen.LuotWeb"></activity>
        <activity android:name=".Fragment.RSSTruyen.LuotActivity"></activity>
        <activity android:name=".Fragment.RSSTruyen.MainRss"></activity>
        <activity android:name=".Fragment.GopY.ChatMessage"></activity>
    </application>

</manifest>